.container
  .row
    .col-md-12
      %h1 Grupo 1
  %hr/
  .row
    .col-md-12
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th #
            %th Nome
            %th Pontuação
        %tbody
          - @players.each_with_index do |player, index|
            %tr
              %td= index + 1
              %td= player.name
              %td= player.point_grupo_one
